*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    height: 100px;
    background-color: #000;
    color: #fff;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
}
.logo-img{
    width: 80px;
    height: 80px;
    background-color: #b2b756;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul, .menu li{
    
}

